html,body{
    height: 100%;
}
body{
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    width: 200px;
    height: 50px;
    background-color: yellow;
    border-radius: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}